.window {
    position: fixed;
    z-index: 1000;
    opacity: 1;
    top: 26%;
    left: 39%;
    width: 429px;
    min-height: 532px;
    background-color: black;
    padding: 40px;

}


.window h2 {
    font-weight: 700;
    text-align: center;
    color: white;
    font-size: 48px;
}
.information {
    width: 218px;
    min-height: 60px;
    padding: 5px;
    font-size: 24px;
    text-align: center;
    font-weight: 400;
    line-height: 30px;
    color: white;
    margin: 0 auto;
}
.window form {
    margin: 7px auto;
}
.window input {
    display: block;
    margin: 20px auto;
    width: 293px;
    height: 63px;
    border: none;
    border-bottom: solid 2px white;
    padding: 5px;
    color: white;
    font-size: 24px;
    font-weight: 700;
    background: none;
    outline: none;
}
.window button {
    display: block;
    margin: 30px auto;
    width: 204px;
    height: 57px;
    border: none;
    background: #000000;
    box-shadow: inset 0 0 15px -3px #FFF8F8;
    border-radius: 38px;
    color: white;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    outline: none;
}