.background{
    background: linear-gradient(rgb(31, 1, 29),black,rgb(31, 1, 29)) center center/cover no-repeat;
    position: relative;
    min-height: 800px;
    padding-bottom: 100px;

}
.title{
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    color: white;
    margin-top: 120px;
    margin-bottom: 140px;
}
.wap{
    display: flex;
    justify-content: center;
    width: 706px;
    margin-top: 79px;
}
.p{
    color: white;
    font-weight: 700;
    font-size: 24px;
    margin: 10px 29px 0 0;
    width: 120px;
}
.input{
    width: 293px;
    height: 63px;
    background: rgba(0, 0, 0, 0.72);
    border: none;
    outline: none;
    border-bottom: solid 2px #ffffff;
    color: #ffffff;
    padding: 5px;
    font-weight: 700;
    font-size: 24px;
    margin-right: 84px;
}
.background button{
    margin-right: 0;
    margin-left: 0;
}
.wap_button{
    margin: 189px auto 0;
    width: 400px;
    padding-left: 67px;
}
