#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.managementgoals__block {
  display: flex;
  flex-wrap: wrap;
}
.managementgoals__goaltitle {
  width: 100%;
  text-align: center;
}
.managementgoals__info {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.managementgoals__info_left {
  align-items: end;
  padding-right: 91px;
}
@media screen and (max-width: 768px) {
  .managementgoals__info_left {
    padding-right: 41px;
  }
}
@media screen and (max-width: 480px) {
  .managementgoals__info_left {
    padding-right: 21px;
  }
}
.managementgoals__info_right {
  align-items: start;
  padding-left: 90px;
  border-left: solid 1px white;
}
@media screen and (max-width: 768px) {
  .managementgoals__info_right {
    padding-left: 40px;
  }
}
@media screen and (max-width: 480px) {
  .managementgoals__info_right {
    padding-left: 20px;
  }
}
.managementgoals__datatext {
  color: white;
  text-align: right;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  width: 35%;
  min-width: 170px;
}
@media screen and (max-width: 768px) {
  .managementgoals__datatext {
    width: 100%;
    min-width: unset;
  }
}
@media screen and (max-width: 768px) {
  .managementgoals__datatext {
    font-size: 20px;
  }
}
.managementgoals__stepstext {
  color: white;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  width: 80%;
  min-width: 270px;
}
@media screen and (max-width: 768px) {
  .managementgoals__stepstext {
    width: 100%;
    min-width: unset;
  }
}
@media screen and (max-width: 768px) {
  .managementgoals__stepstext {
    font-size: 20px;
  }
}
.managementgoals__input {
  width: 293px;
  height: 63px;
  background: rgba(0, 0, 0, 0.72);
  border: none;
  outline: none;
  border-bottom: solid 2px #ffffff;
  color: #ffffff;
  padding: 5px;
  font-weight: 700;
  font-size: 24px;
}
@media screen and (max-width: 768px) {
  .managementgoals__input {
    font-size: 20px;
  }
}
.managementgoals__input_title {
  margin-top: 43px;
  margin-bottom: 71px;
}
@media screen and (max-width: 768px) {
  .managementgoals__input_title {
    width: 100%;
    margin-top: 0;
    margin-bottom: 50px;
  }
}
.managementgoals__input_enddata {
  width: 70%;
  min-width: 240px;
}
.managementgoals__input_enddata::-webkit-calendar-picker-indicator {
  background: url("../../img/icons/calendar.png") center center/cover no-repeat;
}
@media screen and (max-width: 768px) {
  .managementgoals__input_enddata {
    width: 100%;
    min-width: unset;
  }
}
.managementgoals__stepsinput {
  width: 92%;
  height: 63px;
  background: rgba(0, 0, 0, 0.72);
  border: none;
  outline: none;
  border-bottom: solid 2px #ffffff;
  color: #ffffff;
  padding: 5px;
  font-weight: 700;
  font-size: 24px;
  resize: none;
}
@media screen and (max-width: 768px) {
  .managementgoals__stepsinput {
    width: 100%;
    min-width: unset;
  }
}
.managementgoals__buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 61px;
  min-height: 170px;
}
@media screen and (max-width: 768px) {
  .managementgoals__buttons {
    margin-top: 40px;
    min-height: 140px;
  }
}

/*# sourceMappingURL=ManagementGoals.module.css.map */
