.window{
    position: fixed;
    z-index: 1000;
    opacity: 1;
    top: 34%;
    left: 33%;
    width: 590px;
    min-height: 207px;
    background: #000000;
    padding: 40px;
}

.p{
    color: white;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
}

.f{
    display: flex;
    justify-content: space-between;

}
 .f button{
    margin-left: 0;
    margin-right: 0;
}