.content {
    min-height: 894px;
    padding-top: 194px;
    position: relative;
    overflow: hidden;
}
.wap {
    position: relative;
    z-index: 2;
    margin: 34px auto;
    width: 623px;
    min-height: 230px;
    background: rgba(0, 0, 0, 0.63);
    border-radius: 32px;
}
.datetime {
    margin: 0 auto;
    min-width: 155px;
    height: 120px;
}
.datetime p {
    text-align: center;
    font-size: 48px;
    margin: 0;
    font-weight: 700;
    color: white;
}
.info {
    margin-top: 50px;
    padding: 10px;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    color: white;
}
.el {
    position: absolute;
    display: block;

    width: 2000px;
    height: 894px;
    top: 0;
    z-index: 1;
}
.window {
    position: fixed;
    z-index: 1000;
    opacity: 1;
    top: 26%;
    left: 39%;
    width: 429px;
    min-height: 532px;
    background-color: black;
    padding: 40px;

}

