.background{
    position: relative;
    background: linear-gradient(rgb(31, 1, 29),black,rgb(31, 1, 29)) center center/cover no-repeat;
    min-height: 800px;
}
.background ul{
    margin-bottom: 105px;
}
.background li{
    list-style-type: none;
}