#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.profile {
  flex-grow: 1;
  position: relative;
  padding-bottom: 100px;
}
.profile__container {
  max-width: 1100px;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1200px) {
  .profile__container {
    max-width: 970px;
  }
}
@media screen and (max-width: 768px) {
  .profile__container {
    max-width: 750px;
  }
}
@media screen and (max-width: 480px) {
  .profile__container {
    max-width: none;
    padding: 0 10px;
  }
}
.profile__datetime {
  margin-top: 17px;
  margin-right: auto;
}
@media screen and (max-width: 768px) {
  .profile__datetime {
    margin-top: 60px;
  }
}
@media screen and (max-width: 480px) {
  .profile__datetime {
    margin-right: unset;
    margin-top: 64px;
  }
}
.profile__pagetitle {
  position: absolute;
  left: 50%;
  top: -76px;
  transform: translateX(-50%);
}
@media screen and (max-width: 768px) {
  .profile__pagetitle {
    top: -82px;
  }
}
@media screen and (max-width: 480px) {
  .profile__pagetitle {
    top: -85px;
  }
}
.profile__title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  color: white;
  margin-top: 120px;
  margin-bottom: 140px;
}
@media screen and (max-width: 768px) {
  .profile__title {
    margin-top: 70px;
    margin-bottom: 60px;
    font-size: 32px;
  }
}

.changepassword {
  display: flex;
  justify-content: flex-start;
  margin-top: 79px;
}
@media screen and (max-width: 768px) {
  .changepassword {
    margin-top: 20px;
    justify-content: center;
  }
}
@media screen and (max-width: 480px) {
  .changepassword {
    flex-direction: column;
    align-items: center;
  }
}
.changepassword__text {
  color: white;
  font-weight: 700;
  font-size: 24px;
  margin: 10px 29px 0 0;
  width: 120px;
}
@media screen and (max-width: 768px) {
  .changepassword__text {
    margin: 0 20px 0 0;
    align-self: center;
    width: unset;
    min-width: 100px;
    font-size: 22px;
  }
}
@media screen and (max-width: 480px) {
  .changepassword__text {
    margin: 0;
    text-align: center;
  }
}
.changepassword__input {
  width: 293px;
  height: 63px;
  background: rgba(0, 0, 0, 0.72);
  border: none;
  outline: none;
  border-bottom: solid 2px #ffffff;
  color: #ffffff;
  padding: 5px;
  font-weight: 700;
  font-size: 24px;
  margin-right: 84px;
}
@media screen and (max-width: 768px) {
  .changepassword__input {
    margin-right: 20px;
    width: 40%;
  }
}
@media screen and (max-width: 480px) {
  .changepassword__input {
    margin: 0;
    width: 80%;
    text-align: center;
    height: unset;
    min-height: 55px;
  }
}
.changepassword__button {
  align-self: center;
}
@media screen and (max-width: 480px) {
  .changepassword__button {
    margin-top: 30px;
    width: 80%;
    text-align: center;
  }
}
.changepassword__submit {
  margin: auto;
  margin-top: 189px;
  margin-bottom: 160px;
}
@media screen and (max-width: 768px) {
  .changepassword__submit {
    margin-top: 100px;
    margin-bottom: 30px;
  }
}

/*# sourceMappingURL=ProfilePage.module.css.map */
