.header {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    height: 100px;
    background-color: #000000;
    padding: 12px 0 11px 0;

}
.logo {
    width: 234px;
    height: 77px;
}
.title {
    font-size: 48px;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
}
.wap {
    display: flex;
    justify-content: center;
}
.wap p {
    font-weight: 400;
    font-size: 24px;
    color: #ffffff;
    text-align: center;
    margin-left: 47px;
    cursor: pointer;
}