.el{
    width: 310px;
    min-height: 55px;
    display: flex;
    justify-content: center;
    border-bottom: solid 1px #ffffff;
    margin-top: 30px;
}
.el p{
    color: white;
    font-weight: 700;
    font-size: 24px;

}
.el button{
    background: url("./../../../../../img/checket.png") center center/cover no-repeat;
    outline: none;
    border: none;
    filter: drop-shadow(0px 2px 6px #05FF00);
    width: 30px;
    height: 36px;
    margin-left: 70px;
}
