@import "../../App.scss";

.todolist {
  @include main-content;
  position: relative;

  &__container {
    @include container;
    display: flex;
    flex-direction: column;
  }
  &__pagetitle {
    position: absolute;
    left: 50%;
    top: -76px;
    transform: translateX(-50%);

    @include tablets {
      top: -82px;
    }
    @include phones {
      top: -85px;
    }
  }
  &__datetime {
    margin-top: 17px;
    margin-right: auto;
    @include tablets {
      margin-top: 60px;
    }
    @include phones {
      margin-right: unset;
      margin-top: 64px;
    }
  }
  &__list {
    margin: 50px auto 105px;
    padding: 0;

    @include tablets {
      width: 100%;
    }
  }
  &__item {
    list-style-type: none;
    margin-bottom: 50px;
  }
}
