html,
body,
#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}
body {
  position: relative;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /*font-family: "Caveat", cursive;*/
  font-family: "Amatic SC", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #130f40;
}
