.nav {
    position: relative;
    height: 93px;
    background-color: #000000;
    padding: 17px 0 17px;
    z-index: 20;
}
.list {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    list-style-type: none;
    height: 59px;
    min-width: 376px;
    padding: 0;
}
.element {
    margin-left: 56px;
}
.element a {
    text-decoration: none;
}
.element a img {
    display: block;
    margin: 0 auto;
    width: 33px;
    height: 33px;
}
.element a p {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    color: #ffffff;
}
.element:nth-child(1) {
    margin-left: 0;
}